#!/bin/bash
# list of input tar files
INPUT_FILES=''

# CONFIG name
EXPNAME="LOCK_EXCHANGE"

# CONFIG type (default cfgs)
CONFIG_TYPE='tests'

# define compilation components
COMPONENTS="OCE"

# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000=1
REF_NITEND=120   # 90 days
REFDBG_ITEND=12
REF_JPNI=1
REF_JPNJ=1
REF_NPROC=1

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# RST set up
RST_COMP="OCE"
RST_NIT000=$((REF_NITEND/2))
RST_NITEND=${REF_NITEND}
RST_JPNI=${REF_JPNI}
RST_JPNJ=${REF_JPNJ}
RST_NPROC=1

# Length of the MPP simulation
MPP_FLAG="0"
    MPP_NIT000=1
    MPP_NITEND=${REF_NITEND}
    MPP_JPNI=1
    MPP_JPNJ=1
    MPP_NPROC=1

# set physical parameter
set_physical_namelist() {
    echo 'No sette specific physical parameters defined'
}

# set PHY simulation extra params
PHY_FLAG="1"
    PHY_NITEND=61200
    PHYDBG_NITEND=12
