#!/bin/bash
INPUT_FILES='ISOMIP+_v5.0.0.tar.gz' 
# '' for no input files

# CONFIG name
EXPNAME="ISOMIP+"

# CONFIG type (default cfgs)
CONFIG_TYPE='tests'

# define compilation components
COMPONENTS="OCE"

# define extra cpp key required for this experiment
ADD_KEYS_LOC="${ADD_KEYS/key_qco/}"

# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000=1
REF_NITEND=1200   # 90 days
REFDBG_ITEND=12
REF_JPNI=9
REF_JPNJ=3
REF_NPROC=27

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# RST set up
RST_COMP="OCE"
RST_NIT000=$((REF_NITEND/2))
RST_NITEND=${REF_NITEND}
RST_JPNI=${REF_JPNI}
RST_JPNJ=${REF_JPNJ}
RST_NPROC=27

# Length of the MPP simulation
MPP_NIT000=1
MPP_NITEND=${REF_NITEND}
MPP_JPNI=8
MPP_JPNJ=4
MPP_NPROC=27

# set physical parameter
set_physical_namelist() {
    echo 'No sette specific physical parameters defined'
}

