#!/bin/bash
INPUT_FILES='ICE_AGRIF_v5.0.0.tar.gz'
# '' for no input files

EXPNAME="ICE_AGRIF"

# CONFIG type (default cfgs)
CONFIG_TYPE='tests'

# Compilation set up
ADD_KEYS_LOC="${ADD_KEYS/key_qco/}"

# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000="  1   1"
REF_NITEND="200 600"
REFDBG_ITEND="10 30"
REF_JPNI="3 3"
REF_JPNJ="2 2"
REF_NPROC=6

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# RST set up
RST_COMP="OCE ICE"
for KT in ${REF_NITEND} ; do
    RST_NIT000+="$((KT / 2)) "
done

RST_NITEND=${REF_NITEND}
RST_JPNI=${REF_JPNI}
RST_JPNJ=${REF_JPNJ}
RST_NPROC=${REF_NPROC}

# Length of the MPP simulation
MPP_NIT000=${REF_NIT000}
MPP_NITEND=${REF_NITEND}
MPP_JPNI="2 2"
MPP_JPNJ="3 3"
MPP_NPROC=6

# set physical parameter
set_physical_namelist() {
    echo 'No sette specific physical parameters defined'
}


