#!/bin/bash
INPUT_FILES='C1D_v5.0.1.tar'
# '' for no input files

# CONFIG name
EXPNAME="C1D_PAPA"

# CONFIG type (default cfgs)
ref_config='C1D'
CONFIG_TYPE='cfgs'

# Compilation set up
config_ref="C1D"
COMPONENTS="OCE ICE TOP"
ADD_KEYS_LOC="${ADD_KEYS/key_qco/}"

# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000=1
REF_NITEND=87600
REFDBG_ITEND=240
REF_JPNI=1
REF_JPNJ=1
REF_NPROC=1

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# RST set up
RST_COMP="OCE"
RST_NIT000=$((REF_NITEND/2))
RST_NITEND=${REF_NITEND}
RST_JPNI=${REF_JPNI}
RST_JPNJ=${REF_JPNJ}
RST_NPROC=1

# Length of the MPP simulation
MPP_FLAG="0"
    MPP_NIT000=1
    MPP_NITEND=${REF_NITEND}
    MPP_JPNI=1
    MPP_JPNJ=1
    MPP_NPROC=1

# set physical parameter
set_physical_namelist() {
    echo 'No sette specific physical parameters defined'
}

