#!/bin/bash
INPUT_FILES='ORCA2_ICE_v5.0.0.tar.gz ORCA2_ABL_v5.0.0.tar.gz'
# '' for no input files
        
EXPNAME="O2L3P"

# define compilation components
COMPONENTS="OCE TOP ICE NST ABL"

# define extra cpp key required for this experiment
ADD_KEYS_LOC="${ADD_KEYS/key_qco/}"
        
# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000=1
REF_NITEND=1040
REFDBG_ITEND=12
REF_JPNI=4
REF_JPNJ=8
REF_NPROC=32

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# RST set up
RST_COMP="OCE ICE TOP ABL"   # ICB automatically switch off
RST_NIT000=$((REF_NITEND/2))
RST_NITEND=${REF_NITEND}
RST_JPNI=${REF_JPNI}
RST_JPNJ=${REF_JPNJ}
RST_NPROC=${REF_NPROC}

# Length of the MPP simulation
MPP_NIT000=1
MPP_NITEND=${REF_NITEND}
MPP_JPNI=8
MPP_JPNJ=4
MPP_NPROC=32

# set physical parameter
set_physical_namelist() {
    set_namelist namelist_cfg ln_shuman .true.
    set_namelist namelist_cfg ln_wave .true.
    set_namelist namelist_cfg ln_cdgw .false.
    set_namelist namelist_cfg ln_sdw  .true.

    # ABL
    if [ ${USING_ABL} == "yes" ]; then
        set_namelist namelist_cfg nn_date0 20130101
        set_namelist namelist_cfg ln_blk .false.
        set_namelist namelist_cfg ln_abl .true.
        set_namelist namelist_cfg ln_tair_pot .true.
        sed -i "/sn_wndi/s/u_10.15JUNE2009_fill/uwnd_ERAI_L25Z10_ORCA2_ana1d/; /sn_wndi/s/ 6./24./; /sn_wndi/s/U_10_MOD/uwnd/; \
                /sn_wndi/s/true/false/; /sn_wndi/s/yearly/monthly/; /sn_wndi/s/weights_core2_orca2_bicub//" namelist_cfg
        sed -i "/sn_wndj/s/v_10.15JUNE2009_fill/vwnd_ERAI_L25Z10_ORCA2_ana1d/; /sn_wndj/s/ 6./24./; /sn_wndj/s/V_10_MOD/vwnd/; \
                /sn_wndj/s/true/false/; /sn_wndj/s/yearly/monthly/; /sn_wndj/s/weights_core2_orca2_bicub//" namelist_cfg
        sed -i "/sn_tair/s/t_10.15JUNE2009_fill/tair_ERAI_L25Z10_ORCA2_ana1d/; /sn_tair/s/ 6./24./; /sn_tair/s/T_10_MOD/tair/; \
                /sn_tair/s/true/false/; /sn_tair/s/yearly/monthly/; /sn_tair/s/weights_core2_orca2_bilin//" namelist_cfg
        sed -i "/sn_humi/s/q_10.15JUNE2009_fill/humi_ERAI_L25Z10_ORCA2_ana1d/; /sn_humi/s/ 6./24./; /sn_humi/s/Q_10_MOD/humi/; \
                /sn_humi/s/true/false/; /sn_humi/s/yearly/monthly/; /sn_humi/s/weights_core2_orca2_bilin//" namelist_cfg
    fi

    # ICB
    set_namelist_opt namelist_cfg ln_icebergs ${USING_ICEBERGS} .true. .false.
    if [ ${USING_ICEBERGS} == "yes" ]; then
        set_namelist namelist_cfg ln_use_calving .true.
        set_namelist namelist_cfg ln_use_test .true.
        set_namelist namelist_cfg nn_test_icebergs 10
        set_namelist namelist_cfg rn_test_box -180.0, 180.0, -90.0, 90.0
        set_namelist namelist_ice_cfg ln_icediachk .true.
    fi

    # TOP
    set_namelist namelist_top_cfg ln_trcbc  .false.
    set_namelist namelist_top_cfg ln_trcdta .false.
    # put ln_ironsed, ln_hydrofe to false
    # if not you need input files, and for tests is not necessary
    set_namelist namelist_pisces_cfg ln_varpar .false.
    set_namelist namelist_pisces_cfg ln_ironsed .false.
    set_namelist namelist_pisces_cfg ln_ironice .false.
    set_namelist namelist_pisces_cfg ln_hydrofe .false.
    # put ln_pisdmp to false : no restoring to global mean value
    set_namelist namelist_pisces_cfg ln_pisdmp .false.
}
