#!/bin/bash
INPUT_FILES='ORCA2_ICE_v5.0.0.tar.gz ORCA2_ABL_v5.0.0.tar.gz'
# '' for no input files
        
EXPNAME="O2L3P"

# Compilation set up
# define reference config
ref_config="ORCA2_ICE_PISCES"

# define compilation components
COMPONENTS="OCE ICE"

# define extra cpp key required for this experiment
ADD_KEYS_LOC="${ADD_KEYS} key_linssh key_asminc"
DEL_KEYS_LOC="${DEL_KEYS} key_qco key_top"

# define variant options
config_var="${config}_SAO"
COMPONENTS_VAR="${COMPONENTS} SAO"
 
# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000=1
REF_NITEND=80   # 90 days
REFDBG_ITEND=16
REF_JPNI=8
REF_JPNJ=4
REF_NPROC=32

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# RST set up
RST_FLAG="0"
   RST_COMP="OCE ICE TOP ABL"   # ICB automatically switch off
   RST_NIT000=$((REF_NITEND/2))
   RST_NITEND=${REF_NITEND}
   RST_JPNI=${REF_JPNI}
   RST_JPNJ=${REF_JPNJ}
   RST_NPROC=32

# Length of the MPP simulation
MPP_NIT000=1
MPP_NITEND=${REF_NITEND}
MPP_JPNI=4
MPP_JPNJ=8
MPP_NPROC=32

# SAO
SAO_FLAG="1"
   # data file name produced by the REF run
   MODELDATA="REF_1ts_00010101_00010110_SAO.nc"
   MODELDATADBG="REF_1ts_00010101_00010102_SAO.nc"
   [[ "${USING_DEBUG}" == "yes" ]] && MODELDATA=${MODELDATADBG}

# set physical parameter
set_physical_namelist() {
    set_namelist namelist_cfg ln_diaobs .true.
    set_namelist namelist_cfg nn_obsgroups 5
    # Exclude the initial state from the application of the OBS operator:
    #   - ensure the time-step length is set to 3 hours
    set_namelist namelist_cfg rn_Dt 10800
    #   - set the start date for the application of the OBS operator to 3
    #     hours from the start of the model run
    set_namelist namelist_cfg dn_dobsini 00010101.030000
    set_namelist namelist_cfg dn_dobsend 00010102.000000
    # Ensure all diagnostic output, including that related to the SBC, is
    # available at each time step
    set_namelist namelist_cfg nn_fsbc 1
    # Configure the diagnostic output to correspond to the model variables
    # used by OBS:
    #   - increase the diagnostic output frequency
    #   - maximise the output precision
    #   - reduce the number of diagnostic output fields
    #   - replace the output of the sea-ice fraction (whose non-zero values
    #     are capped at a minimum of 1e-6) with the corresponding output
    #     from SBC (which does not include such limit)
    #   - collate output associated with different grids into a common
    #     output file
    sed -i -E -e 's/"5d"/"1ts"/g;s/name_suffix="_grid_T"/name_suffix="_SAO"/' \
              -e 's/freq_op[^<]*<\/field/\//' \
              -e 's/<field /<field prec="8" /g' \
              -e '/<file_group id="oce_5d" /p;/<file id="file1"/p;/<(\/)?file(_group)?[> ]/d' \
              -e '/<field [^>]*name="([suv]o)?(zos)?(thetao)?"/p;/<field /d' \
              -e '/<\/file_definition>/i<field prec="8" field_ref="ice_cover" name="siconc"/></file></file_group>' ${EXE_DIR}/file_def_nemo-oce.xml
    # Create namobs_dta namelists to append
    temp_obs_namelist=${EXE_DIR}/temp_obs_namelist_cfg

cat > ${temp_obs_namelist} << EOF
&namobs_dta
cn_groupname = 'pro'
ln_enabled = .true.
ln_prof = .true.
cn_obsfiles = 'profiles_01.nc'
cn_obstypes = 'POTM','PSAL'
/
&namobs_dta
cn_groupname = 'vel3d'
ln_enabled = .true.
ln_prof = .true.  
cn_obsfiles = 'vel_01.nc'
cn_obstypes = 'UVEL','VVEL'
/
&namobs_dta
cn_groupname = 'sst'
ln_enabled = .true.
ln_surf = .true.
cn_obsfiles = 'sst_01.nc'
cn_obstypes = 'SST'
/       
&namobs_dta
cn_groupname = 'sla' 
ln_enabled = .true.
ln_surf = .true.
cn_obsfiles = 'sla_01.nc'
cn_obstypes = 'SLA'
/       
&namobs_dta
cn_groupname = 'sic' 
ln_enabled = .true.
ln_surf = .true.
cn_obsfiles = 'sic_01.nc'
cn_obstypes = 'ICECONC'
/       
&namsao 
   sao_files(1) = "${MODELDATA}"
   nn_sao_idx(1) = 1
   nn_sao_freq = 1
EOF

    for(( n=1; n <= ${ITEND[0]}; n++ )); do
        echo "   sao_files($(( n + 1 ))) = \"${MODELDATA}\"" >> ${temp_obs_namelist}
        echo "   nn_sao_idx($(( n + 1 ))) = ${n}" >> ${temp_obs_namelist}
    done
    echo "/" >> ${temp_obs_namelist}
    cat ${temp_obs_namelist} >> namelist_cfg
    set_namelist namelist_cfg ln_bkgwri .true.
    set_namelist namelist_cfg ln_trainc .true.
    set_namelist namelist_cfg ln_dyninc .true.
    set_namelist namelist_cfg ln_sshinc .true.
    set_namelist namelist_cfg ln_asmiau .true.
    set_namelist namelist_cfg ln_use_test .true.
    set_namelist namelist_cfg nn_test_icebergs 10
    #remove all useless options for pisces (due to ORCA2_ICE_PISCES reference configuration)
    set_namelist namelist_top_cfg ln_trcdta .false.
    set_namelist namelist_top_cfg ln_trcbc  .false.
    # put ln_ironsed, ln_river, ln_ndepo, ln_dust to false
    # if not you need input files, and for tests is not necessary
    set_namelist namelist_pisces_cfg ln_varpar .false.
    set_namelist namelist_pisces_cfg ln_ironsed .false.
    set_namelist namelist_pisces_cfg ln_ironice .false.
    set_namelist namelist_pisces_cfg ln_hydrofe .false.
}
