#!/bin/bash
INPUT_FILES='ORCA2_OFF_v5.0.0.tar.gz' 
# '' for no input files

EXPNAME="ORCA2_OFF_PISCES"

# define compilation components
COMPONENTS="OCE TOP OFF"
        
# define extra cpp key required for this experiment
ADD_KEYS_LOC="${ADD_KEYS/key_qco/}"

# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000=1
REF_NITEND=380
REFDBG_ITEND=12
REF_JPNI=4
REF_JPNJ=8
REF_NPROC=32

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# RST set up
RST_COMP="TOP"
RST_NIT000=$((REF_NITEND/2))
RST_NITEND=${REF_NITEND}
RST_JPNI=${REF_JPNI}
RST_JPNJ=${REF_JPNJ}
RST_NPROC=32

# Length of the MPP simulation
MPP_NIT000=1
MPP_NITEND=${REF_NITEND}
MPP_JPNI=8
MPP_JPNJ=4
MPP_NPROC=32

# set physical parameter
set_physical_namelist() {
    set_namelist namelist_cfg ln_qsr_rgb .true.
    set_namelist namelist_top_cfg ln_trcbc  .false.
    set_namelist namelist_top_cfg ln_trcdta .false.

    # put ln_ironsed, ln_hydrofe to false
    # if not you need input files, and for tests is not necessary
    set_namelist namelist_pisces_cfg ln_varpar .false.
    set_namelist namelist_pisces_cfg ln_ironsed .false.
    set_namelist namelist_pisces_cfg ln_ironice .false.
    set_namelist namelist_pisces_cfg ln_hydrofe .false.
    # put ln_pisdmp to false : no restoring to global mean value
    set_namelist namelist_pisces_cfg ln_pisdmp .false.
}

# switch off tiling
TILE_FLAG="0"
