#!/bin/bash
INPUT_FILES='ORCA2_ICE_v5.0.0.tar.gz AGRIF_DEMO_v5.0.0.tar.gz' 
# '' for no input files

EXPNAME="AGRIF_DEMO"

# Compilation set up
COMPONENTS="OCE ICE TOP NST"

# variants
config_var="${config}_NOAGRIF"
DEL_KEYS_VAR_LOC="${DEL_KEYS_LOC} key_agrif key_agrif_psisters"

# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000=" 1  1  1   1"
REF_NITEND="16 16 64 192"
REFDBG_ITEND="4 4 16 48"
REF_JPNI="4 7 1 1"
REF_JPNJ="4 1 9 9"
REF_NPROC=16

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# RST set up
RST_COMP="OCE ICE TOP"
for KT in ${REF_NITEND} ; do
    RST_NIT000+="$((KT / 2)) "
done
RST_NITEND=${REF_NITEND}
RST_JPNI=${REF_JPNI}
RST_JPNJ=${REF_JPNJ}
RST_NPROC=16

# Length of the MPP simulation
MPP_NIT000=1
MPP_NITEND=${REF_NITEND}
MPP_JPNI="2 1 3 3"
MPP_JPNJ="8 7 3 3"
MPP_NPROC=16

# set physical parameter
set_physical_namelist() {
    echo 'No sette specific physical parameters defined'
}

# NOAGRIF
NOAGRIF_FLAG=1
   NOAGRIF_NIT000=1
   NOAGRIF_NITEND=16
   NOAGRIFDBG_ITEND=4
   NOAGRIF_JPNI=2
   NOAGRIF_JPNJ=8
   NOAGRIF_NPROC=16

# set noagrif namelist parameter
set_noagrif_namelist() {
    set_namelist namelist_cfg cn_domcfg "'ORCA_R2_zps_domcfg.nc'"
}

