#!/bin/bash
INPUT_FILES='ORCA2_ICE_v5.0.0.tar.gz CPL_OASIS_v5.0.0.tar.gz'
# '' for no input files
        
EXPNAME="CPLOASIS"

# CONFIG type (default cfgs)
CONFIG_TYPE='tests'
        
COMPONENTS="OCE TOP ICE NST"

# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000=1
REF_NITEND=160   # 90 days
REFDBG_ITEND=16
REF_JPNI=7
REF_JPNJ=4 
REF_NPROC=28

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# CPL set up        
CPL_FLAG="1"
   # def OASIS
   ATM_NPROC=1      # overwrite default value
   NUM_XIOSERVERS=1 # overwrite default value

# RST set up
RST_FLAG="0"
   RST_COMP="OCE ICE TOP ABL"   # ICB automatically switch off
   RST_NIT000=$((REF_NITEND/2))
   RST_NITEND=${REF_NITEND}
   RST_JPNI=${REF_JPNI} 
   RST_JPNJ=${REF_JPNJ} 
   RST_NPROC=${REF_NPROC}
        
# Length of the MPP simulation
MPP_FLAG=0
   MPP_NIT000=1
   MPP_NITEND=${REF_NITEND} 
   MPP_JPNI=4
   MPP_JPNJ=7
   MPP_NPROC=28
        
# set physical parameter
set_physical_namelist() {
    set_namelist namelist_top_cfg ln_trcbc  .false.
    set_namelist namelist_top_cfg ln_trcdta .false.
    # put ln_ironsed, ln_hydrofe to false
    # if not you need input files, and for tests is not necessary
    set_namelist namelist_pisces_cfg ln_varpar .false.
    set_namelist namelist_pisces_cfg ln_ironsed .false.
    set_namelist namelist_pisces_cfg ln_ironice .false.
    set_namelist namelist_pisces_cfg ln_hydrofe .false.
    # put ln_pisdmp to false : no restoring to global mean value
    set_namelist namelist_pisces_cfg ln_pisdmp .false.
}
