#!/bin/bash
# list of input tar files
INPUT_FILES=''

EXPNAME="VORTEX"

# CONFIG type (default cfgs)
CONFIG_TYPE='tests'

# Compilation set up
COMPONENTS="OCE NST"

# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000="  1   1"
REF_NITEND="240 720"
REFDBG_ITEND="12 36"
REF_JPNI="3 3"
REF_JPNJ="2 2"
REF_NPROC=6

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# RST set up
RST_COMP="OCE"
for KT in $REF_NITEND; do
    RST_NIT000+="$((KT / 2)) "
done
RST_NITEND=${REF_NITEND}
RST_JPNI=${REF_JPNI}
RST_JPNJ=${REF_JPNJ}
RST_NPROC=${REF_NPROC}

# Length of the MPP simulation
MPP_NIT000=${REF_NIT000}
MPP_NITEND=${REF_NITEND}
MPP_JPNI="2 2"
MPP_JPNJ="3 3"
MPP_NPROC=6

# set physical parameter
set_physical_namelist() {
    echo 'No sette specific physical parameters defined'
}

# VORTEX have specifical physical parameter for ROTSYM test ????
ROT_FLAG="1"
set_rot_namelist() {
    set_namelist namelist_cfg ln_traldf_OFF .false.
    set_namelist namelist_cfg ln_traldf_lap .true.
    set_namelist namelist_cfg ln_traldf_iso .true.
}
