#!/bin/bash
# list of input tar files
INPUT_FILES='' 

EXPNAME="GYRE_GO"

# define reference config
ref_config="GYRE_PISCES"

# define compilation components
COMPONENTS="OCE"

# define extra cpp key required for this experiment
ADD_KEYS_LOC="${ADD_KEYS/key_linssh/}"
DEL_KEYS_LOC="${DEL_KEYS} key_linssh key_top"

# REF set up
# Length of the REF simulation (ie LONG)
# if AGRIF do "XXXX YYYY ZZZZ" each number being AGRIF zoom level
REF_NIT000=1
REF_NITEND=1152
REFDBG_ITEND=12
REF_JPNI=2
REF_JPNJ=4
REF_NPROC=8

# manage debug length
[[ "${USING_DEBUG}" == "yes" ]] && REF_NITEND=${REFDBG_ITEND}

# RST set up
RST_COMP="OCE"
RST_NIT000=$((REF_NITEND/2))
RST_NITEND=${REF_NITEND}
RST_JPNI=${REF_JPNI}
RST_JPNJ=${REF_JPNJ}
RST_NPROC=8

# Length of the MPP simulation
MPP_NIT000=1
MPP_NITEND=${REF_NITEND}
MPP_JPNI=4
MPP_JPNJ=2
MPP_NPROC=8

# set physical parameter
set_physical_namelist() {
    # Increase horizontal and vertical resolution
    set_namelist namelist_cfg nn_GYRE 2
    set_namelist namelist_cfg jpkglo 75
    set_namelist namelist_cfg rn_Dt 6750.
    # Accomodate QCO option
    set_namelist namelist_cfg ln_hpg_zco .false.
    set_namelist namelist_cfg ln_hpg_sco .true.
    # Activate the GEOMETRIC scheme
    set_namelist namelist_cfg ln_ldfeiv .true.
    set_namelist namelist_cfg nn_aei_ijk_t 32
    set_namelist namelist_cfg nn_eke_opt 2
    set_namelist namelist_cfg ln_adv_wav .true.
    # Activate the OSMOSIS scheme
    set_namelist namelist_cfg ln_zdftke .false.
    set_namelist namelist_cfg ln_zdfevd .false.
    set_namelist namelist_cfg ln_zdfddm .false.
    set_namelist namelist_cfg ln_zdfosm .true.
}
